/* General Body Styles */
body {
  font-family: Roboto, Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

/* Header Styles */
h1 {
  text-align: center;
  margin-top: 20px;
  color: #3f51b5;
}

/* Preformatted Text Styles */
pre {
  background-color: #e0e0e0;
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
}

/* Visually Hidden Elements */
.cdk-visually-hidden {
  display: none;
}

/* Button Group Styles */
.button-group {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

/* Raised Button Hover Effects */
button.mat-raised-button {
  transition: background-color 0.3s ease;
}

button.mat-raised-button:hover {
  filter: brightness(90%);
}

/* FilePond Wrapper Padding */
.filepond--wrapper {
  padding-top: 25px;
}

/* Additional Styles for Stepper Component */

/* Margins for Form Fields */
.mat-form-field {
  margin-top: 20px;
}

/* Image Preview Styles */
.responsive-image {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 5px;
}

/* Button Group Styles Specific to Stepper */
.button-group,
.navigation-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

/* Navigation Buttons Alignment */
.navigation-buttons {
  justify-content: flex-end;
}

/* Responsive Adjustments */
@media (max-width: 600px) {
  /* Adjust body padding for small screens */
  body {
    padding: 10px;
  }

  /* Adjust stepper label font size */
  .mat-step-label {
    font-size: 14px;
  }

  /* Adjust button group alignment */
  .navigation-buttons {
    margin-bottom: 16px;
  }

  /* Adjust image preview margins */
  .responsive-image {
    margin-top: 10px;
  }

  .mat-vertical-content {
    padding: 0px !important;
  }

  .mat-vertical-content-container {
    margin-left: 0px !important;
  }
}
